<div class="card my-2" style="width: auto">
  <img class="card-img-top" src="{{movie.imageUrl}}" alt="Card image cap" style="cursor: pointer;" title="{{movie.name}}" [routerLink]="['/movie',movie.id]" >
  <div class="card-body">
    <h5 class="card-title text-truncate" style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="{{movie.name}}">{{movie.name}}</h5>
    <!-- <p class="card-text">{{movie.description}}</p> -->
    <a [routerLink]="['/movie',movie.id]" class="btn btn-primary mt-1">Watch Now</a>
  </div>
</div>
